
.header {
    text-align: center;
    font-size: 14px;
}

.blog_content {
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}

.blog_content p {
    text-indent: 2rem;
}

@media ( min-width: 640px ){
    .blog_content {
        width: 640px;
    }
}