html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

:root {
	--green: #19a974;
	--red: #ff4136;
	--blue: #357edd;
	--riches: #19a974;
	--honor: #ff4136;
	--life: #357edd;
}

li {
	list-style: none;
}

* {
	font-family: Serif;
	font-weight: 200;
}

.link, link:visited {
	color: #aaa;
}

.link-dark, link:visited {
	color: #000;
}

.force-bottom::after {
	content: '';
	margin-top: 200px;
}

.blog-content p {
	text-indent: 2em;
}

#___gatsby {
	height: 100%;
}

.header-block {
	display: flex;
}

.header-block:nth-of-type( n + 1 ) {
	--header-bg: var( --riches );
}

.header-block:nth-of-type( n + 2  ) {
	--header-bg: var( --honor );
}
.header-block:nth-of-type( n + 3  ) {
	--header-bg: var( --life );
}

.header-block__text {
	margin: 0px 20px;
}

.header-block__spacer {
	flex: 1;
	background: black;
	position: relative;
}

.header-block__spacer:first-of-type {
	width: 40px;
	flex: unset;
}

.header-block__spacer:last-of-type::before {
	position: absolute;
	content: '';
	width: 50px;
	height: 100%;
	background: var( --header-bg );
}

@media ( max-width: 600px ){
	.header-block__spacer:first-of-type {
		width: 40px;
		flex: unset;
	}

	.header-block__spacer:first-of-type::before {
		position: absolute;
		content: '';
		width: 80%;
		height: 100%;
		top: 0;
		right: 0;
		background: var( --header-bg );
	}

	.header-block__spacer:last-of-type {
		display: none;
	}
}