

.riches {
    background: var( --green );
}

.riches.inactive_category {
    background: none !important;
    border-bottom: 1px solid var( --green );
}

.honor {
    background: var( --red );
}

.honor.inactive_category {
    background: none !important;
    border-bottom: 1px solid var( --honor );
}

.life {
    background: var( --blue );
}

.life.inactive_category {
    background: none !important;
    border-bottom: 1px solid var( --blue );
}