
.mainGrid {
    display: grid;
    padding: 40px;
    row-gap: 60px;
    justify-items: center;
    grid-template-areas:
        'infoA infoB infoC'
        'articles articles articles'
        'richesCategory honorCategory lifeCategory'
    
    ;
}

.articlesWrapper {
    grid-area: articles;
    width: 80%;
    max-width: 700px;
}

@media ( max-width: 450px ){
    .mainGrid {
        grid-template-areas: unset;
        grid-template-columns: 100%;
        row-gap: 10px;
        padding: 0px;
    }

    .articlesWrapper {
        grid-area: unset;
        padding: 20px;
        width: 100%;
        max-width: 700px;
    }
}