
.articleWrapper {
    width: 640px;
    padding: 20px 10px;
    margin: auto;
}

.articleText {
    height: 100%;
    line-height: 1.5rem;
    color: #ddd;
}

.articleText a {
    height: 100%;
    line-height: 1.5rem;
    color: #ddd;
}

.controlArrow, .controlArrow a, .controlArrow a:visited {
    color: #ddd;
    opacity: .5;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-decoration: none;
}

.controlArrow_left {
    left: 40px;
}
.controlArrow_right {
    right: 40px;
}

@media ( max-width: 600px ){
    .articleWrapper {
        width: 100%;
        padding: 10px;
        margin: auto;

        h1 {
            line-height: 2rem;
        }
    }

    .articleText {
        width: 100%;
    }

    .controlArrow {
        display: none;
    }
}