
// .wrapper {
//     height: 80px;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     flex-wrap: wrap;
// }

// .category {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex: 1;
// }

// .category_active {
//     order: 0;
//     width: 80%;
//     height: 100%;
//     flex: 1 auto;
// }

// .category:not(.category_active ){
//     width: 20%;
//     opacity: .5;
// }

// .category:not(.category_active ):hover {
//     opacity: 1 !important;
// }



.wrapper {
    position: relative;
    height: 80px;
    width: 100%;
    background: black;
}

.category {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}