.wrapper {
    position: relative;
    height: 80px;
    width: 100%;
    background: black;
}

.riches__inactive {
    border-bottom: 1px solid #19a974;
}

.honor__inactive {
    border-bottom: 1px solid #ff4136;
}

.life__inactive {
    border-bottom: 1px solid #357edd;
}