.cardWrapper {
    position: relative;
    width: 90%;
    color: white;
    top: 0px;
}

.cardBG {
    z-index: 1;
    position: relative;
    background: #111;
    width: calc( 100% - 20px );
    min-height: 100%;
    top: 20px;
    left: 20px;
    padding: 80px 20px 20px;
}


.titlePos {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    padding: 10px 30px;
    font-size: 1.5rem;
}

.linkList {
    padding: 0;
    margin: -20px 0 0;
}

.linkList li {
    margin-bottom: 10px;
}

.linkList a, .linkList a:visited {
    color: #f4f4f4;
}

@media ( max-width: 600px ){
    .cardWrapper {
        position: relative;
        left: -20px;
        width: 100vw;
    }

    .cardBG {
        width: 100%;
        min-height: 100%;
        top: 25px;
        left: 0px;
    }

    .titlePos {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 20px;
        padding: 10px 30px;
        font-size: 1.5rem;
    }

}