.content {
    max-width: 800px;
    min-width: 600px;
    margin: 0px auto;
    flex: 1;
}

@media ( max-width: 450px ){
    .content {
        max-width: 100%;
        min-width: unset;
        padding: 20px;
    }
}